MONGODB_URI = 'mongodb+srv://krishnarajirkal_db_user:KrishnaIrkal1997@cluster0.hajurlw.mongodb.net'
JWT_SECRET = "adwnasjdnwhabdshafbhasbdiwadihsadnhainsdhiasd"
IMAGEKIT_PRIVATE_KEY='private_tMoDOzr9qhyV2v7V2lMDgq9kklA='
GEMINI_API_KEY='AIzaSyCxAgq1AFELC4xZIqFEt6mp1cWQMiHpo6w'
GEMINI_MODEL='gemini-3-flash-preview'
CLIENT_URL='http://localhost:5173'
PORT='3000'
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password